# Person schema (LinkML)

In [ ]:
schema = \
"""id: https://w3id.org/linkml/examples/person
name: personinfo
prefixes:
  linkml: https://w3id.org/linkml/
  person: https://w3id.org/linkml/examples/person/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: person

classes:

  Person:
    is_a: NamedEntity
    tree_root: true

    description: >-
      Represents a person with various personal and familial attributes.
    attributes:
      id:
        description: >-
          A unique identifier for the person, typically derived from the full name.
          For example, use lowercase letters with underscores or hyphens.
        identifier: true
        range: string

      fullname:
        description: >-
          The complete name of the person as known in historical or biographical records.
        range: string
        required: true
        
      givenname:
        description: >-
          The given (first) name of the person.
        range: string

      familyname:
        description: >-
          The family or last name of the person.
        range: string

      fathername:
        description: >-
          The father's name associated with this person.
        range: string

      mothername:
        description: >-
          The mother's name associated with this person.
        range: string

      lastresidence:
        description: >-
          The last known residence or location where the person lived.
        range: string

      dateofbirth:
        description: >-
          The date of birth of the person, formatted as a string (e.g., YYYY-MM-DD).
        range: string

      placeofbirth:
        description: >-
          The location or place where the person was born.
        range: string

"""
with open('person.yaml', 'w') as outfile:
    outfile.write(schema)

# Input Text

In [ ]:
%%bash
echo "Rochell Josephus Hendrik was born on March 11, 1789, in Wageningen. He was the son of Samuel and Getruida Merkes, and his last known place of residence was Rotterdam." > example.txt

# OntoGPT extraction

In [ ]:
%%bash
ontogpt extract -i example.txt -t person.yaml -m ollama/llama3 -o military_person_kg.yaml

# PersonJointingEvents Schema (LinkML)

In [ ]:
schema = \
"""
id: https://w3id.org/linkml/examples/personjoiningevents
name: personjoiningevents
prefixes:
  linkml: https://w3id.org/linkml/
  personjoiningevents: https://w3id.org/linkml/examples/personjoiningevents/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: personjoiningevents

classes:
    EventsCollection:
        description: >-
            A collection of one or more historical event records,
            each describing how a person joined a military unit,
            participated in a campaign, or experienced a related event
            such as birth, promotion, or dismissal. Each event captures
            relationships among persons, places, times, and units
            as documented in historical sources.
        tree_root: true
        attributes:
            events:
                description: >-
                    A semicolon-delimited list of PersonJoining events
                    included in this collection. Include all details about
                    the military unit, rank, the station or
                    service location, and the time period. If there are sub-events
                    like promotion or dismissal, include those as well. Multiple
                    postings should be represented as separate events. If a posting
                    is mentioned without a military unit, or a military unit without
                    a posting, the joining event should still be captured with the
                    missing element left unspecified.
                multivalued: true
                range: PersonJoiningEvent
                annotations:
                    prompt.examples: >-
                        Groot Bretagne, Royaal Orange Battaillion, Cadet den 1 Jany 1793 tot 30 November 1802, 
                        Met de vrede geliciteerd; Frankrijk corps du Marine Opp Marin den 18 April 1811 tot 11 Sept 1811; 
                        75 Equipage de haut bord den 11 Sept 1811 tot 4 Dec 1813; Nederlands Batn Inf Nat Mil n70 Sergeant 
                        den 21 Maart 1814 tot 24 April 1815; 2nd Lieut den 24 April 1815 tot 16 July 1815 .

    
    PersonJoiningEvent:
        description: >-
            Represents an event where a person joined a military unit,
            including details about the location, time period, and any additional notes.
        attributes:
            p144_joined_with:
                description: >-
                    The military unit that the person joined.
                range: MilitaryUnit
                examples:
                    - value: Royaal Orange Battaillion
            p7_took_place_at:
                description: >-
                    The geographical location where the joining or service took place.
                range: Place
                examples:
                    - value: Groot Bretagne
            rank:
                description: >-
                    The rank held by the person during the event.
                range: string
                examples:
                    - value: Cadet
            p4_has_time_span:
                description: >-
                    The time period during which the service occurred.
                range: string
                examples:
                    - value: 1 Jany 1793 - 30 November 1802
            p3_has_note:
                description: >-
                    Additional notes or contextual information about the event.
                range: string
    
    MilitaryUnit:
        attributes:
            name:
                description: >-
                    The name of the military unit.
                range: string
    Place:
        attributes:
            name:
                description: >-
                    The name of the geographical location.
                range: string


"""
with open('personjoiningevents.yaml', 'w') as outfile:
    outfile.write(schema)

In [8]:
text = """In Dienst getreden
Groot Bretagne
Royaal Orange Battaillion
Cadet den . . . . . 1 Jany 1793
tot . . . . . 30 November 1802
Met de .*
de vrede gelic.*eerd
Frankrijk
corps du .* Marine
Opp.* Marin den . . . . . 18 April 1811
tot . . . . . 11 Sept 1811
75 Equipage de haut bord
.* .*ain den . . . . . 11 Sept 1811
tot . . . . . 4 Dec 1813
Afgegaan met Ontslag
Nederlands
Batn Inf. Nat Mil n70* .*
Sergeant den . . . . . 21 Maart 1814
tot . . . . . 24 April 1815
2nd Lieut den . . . . . 24 April 1815
tot . . . . . 16 July 1815
Batn Inf.* Nat. Mil N48
den . . . . . 16 July 1815
tot . . . . . 16 Juny 1817
Deport Batn voor de col N33.
den . . . . . 16 Juny 1817
tot . . . . . 3 Dec 1817
Vertrokken naar de .*
de van Texel .*
keerd te worden .* aan boord
van het schip Christina
Bernardina.* naar
Java den 3e December
1817
"""
with open('example.txt', 'w') as f:
    f.write(text)

In [9]:
%%bash
ontogpt extract -i example.txt -t personjoiningevents.yaml -m ollama/llama3 -o military_person_kg.yaml

ERROR:root:Cannot find slot for here_are_the_extracted_entities_in_the_requested_format in Here are the extracted entities in the requested format:
ERROR:root:Cannot find slot for based_on_the_text,_i_extracted_the_following_entitie in Based on the text, I extracted the following entities:
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format:
ERROR:root:Cannot find slot for based_on_the_provided_text,_i_extracted_the_following_entity_in_the_requested_format in Based on the provided text, I extracted the following entity in the requested format:
ERROR:root:Cannot find slot for •_texel in • Texel: The name of the geographical location.
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format:

# Individual Person Joining Event

In [1]:
schema = \
"""
id: https://w3id.org/linkml/examples/personjoiningevents
name: personjoiningevents
prefixes:
  linkml: https://w3id.org/linkml/
  personjoiningevents: https://w3id.org/linkml/examples/personjoiningevents/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: personjoiningevents

classes:
    
    PersonJoiningEvent:
        description: >-
            Represents an event where a person joined a military unit,
            including details about the location, time period, and any additional notes.
        tree_root: true
        attributes:
            p144_joined_with:
                description: >-
                    The military unit that the person joined.
                range: MilitaryUnit
                examples:
                    - value: Royaal Orange Battaillion
            p7_took_place_at:
                description: >-
                    The geographical location where the joining or service took place.
                range: Place
                examples:
                    - value: Groot Bretagne
            rank:
                description: >-
                    The rank held by the person during the event.
                range: string
                examples:
                    - value: Cadet
            p4_has_time_span:
                description: >-
                    The time period during which the service occurred.
                range: string
                examples:
                    - value: 1 Jany 1793 - 30 November 1802
            p3_has_note:
                description: >-
                    Additional notes or contextual information about the event.
                range: string
    
    MilitaryUnit:
        attributes:
            name:
                description: >-
                    The name of the military unit.
                range: string
    Place:
        attributes:
            name:
                description: >-
                    The name of the geographical location.
                range: string

"""
with open('personjoiningevents.yaml', 'w') as outfile:
    outfile.write(schema)

In [2]:
text = """In Dienst getreden
Groot Bretagne
Royaal Orange Battaillion
Cadet den . . . . . 1 Jany 1793
tot . . . . . 30 November 1802
Met de .*
de vrede gelic.*eerd
"""
with open('example.txt', 'w') as f:
    f.write(text)

In [3]:
%%bash
ontogpt --cache-db "output.txt" extract -i example.txt -t personjoiningevents.yaml -m ollama/llama3 -o military_person_kg.yaml

ERROR:root:Cannot find slot for here_are_the_extracted_entities_in_the_requested_format in Here are the extracted entities in the requested format:
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_desired_format in Here is the split text in the desired format:
ERROR:root:Cannot find slot for here_are_the_extracted_entities_in_the_requested_format in Here are the extracted entities in the requested format: