# Person schema (LinkML)

In [ ]:
schema = \
"""id: https://w3id.org/linkml/examples/person
name: personinfo
prefixes:
  linkml: https://w3id.org/linkml/
  person: https://w3id.org/linkml/examples/person/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: person

classes:

  Person:
    is_a: NamedEntity
    tree_root: true

    description: >-
      Represents a person with various personal and familial attributes.
    attributes:
      id:
        description: >-
          A unique identifier for the person, typically derived from the full name.
          For example, use lowercase letters with underscores or hyphens.
        identifier: true
        range: string

      fullname:
        description: >-
          The complete name of the person as known in historical or biographical records.
        range: string
        required: true
        
      givenname:
        description: >-
          The given (first) name of the person.
        range: string

      familyname:
        description: >-
          The family or last name of the person.
        range: string

      fathername:
        description: >-
          The father's name associated with this person.
        range: string

      mothername:
        description: >-
          The mother's name associated with this person.
        range: string

      lastresidence:
        description: >-
          The last known residence or location where the person lived.
        range: string

      dateofbirth:
        description: >-
          The date of birth of the person, formatted as a string (e.g., YYYY-MM-DD).
        range: string

      placeofbirth:
        description: >-
          The location or place where the person was born.
        range: string

"""
with open('person.yaml', 'w') as outfile:
    outfile.write(schema)

# Input Text

In [ ]:
%%bash
echo "Rochell Josephus Hendrik was born on March 11, 1789, in Wageningen. He was the son of Samuel and Getruida Merkes, and his last known place of residence was Rotterdam." > example.txt

# OntoGPT extraction

In [ ]:
%%bash
ontogpt extract -i example.txt -t person.yaml -m ollama/llama3 -o military_person_kg.yaml

# PersonJointingEvents Schema (LinkML)

In [ ]:
schema = \
"""
id: https://w3id.org/linkml/examples/personjoiningevents
name: personjoiningevents
prefixes:
  linkml: https://w3id.org/linkml/
  personjoiningevents: https://w3id.org/linkml/examples/personjoiningevents/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: personjoiningevents

classes:
    EventsCollection:
        description: >-
            A collection of one or more historical event records,
            each describing how a person joined a military unit,
            participated in a campaign, or experienced a related event
            such as birth, promotion, or dismissal. Each event captures
            relationships among persons, places, times, and units
            as documented in historical sources.
        tree_root: true
        attributes:
            personjoiningdetails:
                description: >-
                    A list of events where a person joined military units,
                    including details about locations, time periods, ranks,
                    and additional notes.
                multivalued: true
                range: PersonJoiningEvent
                annotations:
                    prompt.examples: Groot Bretagne, Royaal Orange Battaillion, Cadet den 1 Jany 1793 tot 30 November 1802 ; Frankrijk corps du Marine Opp Marin den 18 April 1811 tot 11 Sept 1811; 75 Equipage de haut bord den 11 Sept 1811 tot 4 Dec 1813; Nederlands Batn Inf Nat Mil n70 Sergeant den 21 Maart 1814 tot 24 April 1815; 2nd Lieut den 24 April 1815 tot 16 July 1815 .

    
    PersonJoiningEvent:
        description: >-
            Represents an event where a person joined a military unit,
            including details about the location, time period, and any additional notes.
        attributes:
            p144_joined_with:
                description: >-
                    The military unit that the person joined.
                range: MilitaryUnit
                examples:
                    - value: Royaal Orange Battaillion
                    - value: corps du Marine Opp Marin
                    - value: 75 Equipage 
                    - value: Batn Inf Nat Mil n70
            p7_took_place_at:
                description: >-
                    The geographical location where the joining or service took place.
                range: Place
                examples:
                    - value: Groot Bretagne
                    - value: Frankrijk
                    - value: Nederlands
            rank:
                description: >-
                    The rank held by the person during the event.
                range: string
                examples:
                    - value: Cadet
                    - value: Opp Marin
                    - value: Sergeant
                    - value: 2nd Lieut
            p4_has_time_span:
                description: >-
                    The time period during which the service occurred.
                range: string
                examples:
                    - value: 1 Jany 1793 - 30 November 1802
                    - value: 18 April 1811 - 11 Sept 1811
                    - value: 11 Sept 1811 - 4 Dec 1813
                    - value: 21 Maart 1814 - 24 April 1815
            p3_has_note:
                description: >-
                    Additional notes or contextual information about the event.
                range: string
    
    MilitaryUnit:
        attributes:
            name:
                description: >-
                    The name of the military unit.
                range: string
    Place:
        attributes:
            name:
                description: >-
                    The name of the geographical location.
                range: string


"""
with open('personjoiningevents.yaml', 'w') as outfile:
    outfile.write(schema)

In [ ]:
text = """The person entered military service in Great Britain, joining the Royal Orange Battalion as a Cadet on 1 January 1793, and served until 30 November 1802, after which he was released following the peace agreement.
Later, he entered service in France, joining the Corps du Marine as an Officier Marin (naval officer) on 18 April 1811, serving until 11 September 1811, and then continued in the 75e Équipage de Haut Bord (75th High-Seas Crew) from 11 September 1811 to 4 December 1813, after which he was discharged with permission.

Subsequently, he entered service in the Netherlands, joining the Bataljon Infanterie Nationale Militie No. 70 as a Sergeant on 21 March 1814, serving until 24 April 1815. He was then promoted to Second Lieutenant on 24 April 1815, serving in that rank until 16 July 1815, and transferred to the Bataljon Infanterie Nationale Militie No. 48, where he served from 16 July 1815 until 16 June 1817.

Following that, he was assigned to the Deportatie Bataljon voor de Koloniën No. 33 on 16 June 1817, serving until 3 December 1817. On that date, 3 December 1817, he departed from the roadstead of Texel on board the ship Christina Bernardina, bound for Java.
"""
with open('example.txt', 'w') as f:
    f.write(text)

In [ ]:
%%bash
ontogpt extract -i example.txt -t personjoiningevents.yaml -m ollama/llama3 -o military_person_kg.yaml

# Individual Person Joining Event

In [ ]:
schema = \
"""
id: https://w3id.org/linkml/examples/personjoiningevents
name: personjoiningevents
prefixes:
  linkml: https://w3id.org/linkml/
  personjoiningevents: https://w3id.org/linkml/examples/personjoiningevents/
imports:
  - linkml:types
  - core
default_range: string
default_prefix: personjoiningevents

classes:
    
    PersonJoiningEvent:
        description: >-
            Represents an event where a person joined a military unit,
            including details about the location, time period, and any additional notes.
        tree_root: true
        attributes:
            p144_joined_with:
                description: >-
                    The military unit that the person joined.
                range: MilitaryUnit
                examples:
                    - value: Royaal Orange Battaillion
            p7_took_place_at:
                description: >-
                    The geographical location where the joining or service took place.
                range: Place
                examples:
                    - value: Groot Bretagne
            rank:
                description: >-
                    The rank held by the person during the event.
                range: string
                examples:
                    - value: Cadet
            p4_has_time_span:
                description: >-
                    The time period during which the service occurred.
                range: string
                examples:
                    - value: 1 Jany 1793 - 30 November 1802
            p3_has_note:
                description: >-
                    Additional notes or contextual information about the event.
                range: string
    
    MilitaryUnit:
        attributes:
            name:
                description: >-
                    The name of the military unit.
                range: string
    Place:
        attributes:
            name:
                description: >-
                    The name of the geographical location.
                range: string

"""
with open('personjoiningevents.yaml', 'w') as outfile:
    outfile.write(schema)

In [ ]:
text = """In Dienst getreden
Groot Bretagne
Royaal Orange Battaillion
Cadet den . . . . . 1 Jany 1793
tot . . . . . 30 November 1802
Met de .*
de vrede gelic.*eerd
"""
with open('example.txt', 'w') as f:
    f.write(text)

In [ ]:
%%bash
ontogpt --cache-db "output.txt" extract -i example.txt -t personjoiningevents.yaml -m ollama/llama3 -o military_person_kg.yaml

# Drug example

In [ ]:
%%bash
echo "One treatment for high blood pressure is carvedilol." > example.txt

In [ ]:
%%bash
ontogpt extract -i example.txt -t drug -m ollama/llama3 -o drug.yaml

# Colonial Hub Schema

In [ ]:
schema = """id: https://pressingmatter.nl/personbaiscinfo
name: personbasicinfo
prefixes:
  schema: https://schema.org/
  pvn: https://personvocab.nl/
  dbo: http://dbpedia.org/ontology/
  rdfs: http://www.w3.org/2000/01/rdf-schema#
  linkml: https://w3id.org/linkml/
  personbasicinfo: https://pressingmatter.nl/personbaiscinfo
  HANDLE : https://hdl.handle.net/
  GEONAMES: http://sws.geonames.org/
imports:
  - linkml:types
  - core

default_range: string
default_prefix: personbasicinfo            

classes:    
    Person:
        tree_root: true
        is_a: NamedEntity
        description: >-
            Represents a military person with thier name, nationality, military rank, birthplace, deathplace.
        attributes:
            id:
                description: >-
                    A unique identifier for the person.
                identifier: true
                range: string
                annotations:
                    prompt: "generate a randon unique identifier for the person"
        
            name:
                description: >-
                    The name of the person.
                range: Name
                slot_uri: pvn:hasName
                required: true
            
            birthplace:
                description: >-
                    The birthplace of the person.
                range: Place
                slot_uri: schema:birthPlace
                annotations:
                    prompt: "Place name where the person was born"
                
            lastresidence:
                description: >-
                    The last residence of the person.
                range: Place
                slot_uri: schema:homeLocation
                annotations:
                    prompt: "Last residence or location where the person lived"
                    prompt.examples: Rotterdam; Wageningen

            coountry:
                description: >-
                    The country of the person.
                range: Place
                slot_uri: schema:nationality
                annotations:
                    prompt: "infer the country name of the person based on their birthplace"
                    prompt.examples: Netherlands; England; france

            militaryrank:
                description: >-
                    The military rank of the person.
                range: Rank
                slot_uri: dbo:militaryRank
                annotations:
                    prompt: "last military rank of the person based on their service details"
                    prompt.examples: Cadet; Sergeant; Second Lieutenant

    Place:
        is_a: NamedEntity
        attributes:
            id:
                description: >-
                    A unique identifier for the place.
                range: string
            name:
                description: >-
                    The label of the geographical location.
                slot_uri: schema:name
                range: string
    Rank:
        is_a: NamedEntity
        attributes:
            label:
                description: >-
                    The label of the military rank.
                range: string
                slot_uri: rdfs:label
    
    Name: 
        is_a: NamedEntity
        attributes:
            id:
                description: >-
                    A unique identifier for the name.
                range: string
                annotations:
                    prompt: "generate a unique identifier for the name based on the person's full name"
            basesurname:
                description: >-
                    The base surname name of the person.
                range: string
                slot_uri: pvn:baseName
            firstname:
                description: >-
                    The first name of the person.
                range: string
                slot_uri: pvn:firstName
            infix:
                description: >-
                    The infix of the person's name (e.g., "van", "de").
                range: string
                slot_uri: pvn:infix

"""

with open('personbasicinfo.yaml', 'w') as outfile:
    outfile.write(schema)

In [ ]:
text = """Josephus Hendrik Rochell
<br/>	
Vader Samuel
Moeder Getruida Merkes
Geboren den 11e Maart 1789.
Geboorte Plaats Wageningen
Laaste Woonplaats Rotterdam	
<br/>
In Dienst getreden
Groot Bretagne
Royaal Orange Battaillion
Cadet den . . . . . 1 Jany 1793
tot . . . . . 30 November 1802
Met de .*
de vrede gelic.*eerd
Frankrijk
corps du .* Marine
Opp.* Marin den . . . . . 18 April 1811
tot . . . . . 11 Sept 1811
75 Equipage de haut bord
.* .*ain den . . . . . 11 Sept 1811
tot . . . . . 4 Dec 1813
Afgegaan met Ontslag
Nederlands
Batn Inf. Nat Mil n70* .*
Sergeant den . . . . . 21 Maart 1814
tot . . . . . 24 April 1815
2nd Lieut den . . . . . 24 April 1815
tot . . . . . 16 July 1815
Batn Inf.* Nat. Mil N48
den . . . . . 16 July 1815
tot . . . . . 16 Juny 1817
Deport Batn voor de col N33.
den . . . . . 16 Juny 1817
tot . . . . . 3 Dec 1817
Vertrokken naar de .*
de van Texel .*
keerd te worden .* aan boord
van het schip Christina
Bernardina.* naar
Java den 3e December
1817
<br/>
Veldtogten | Wonden | Daden
1815 Frankrijk
bij de Bataille
van Waterlo"""

with open('input.txt', 'w') as f:
    f.write(text)

In [ ]:
%%bash
python src/ontogpt/cli.py extract -i input.txt -t personbasicinfo.yaml -m ollama/llama3 -o military_person_kg.yaml

ERROR:root:Cannot find slot for here_are_the_extracted_entities_in_the_requested_format in Here are the extracted entities in the requested format:
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format:
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format:
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format:
ERROR:root:Cannot find slot for country in country: Netherlands
ERROR:root:Cannot find slot for here_is_the_split_text_in_the_requested_format in Here is the split text in the requested format: